*{
    margin:0px;
    padding:0;

}
.navbar{
    height:60px;
    padding:0px 20px;
    background-color: rgb(145, 9, 9);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar button{
    padding:10px 20px;
    font-size:18px;
    margin:0px 10px;
    border:none;
    border-radius: 50px;
    transition:1s;
    cursor: pointer;
}
.navbar button:hover{
    background-color:#000000;
    color:white;
}
.navbar a {
    text-decoration: none;
    color:black;
}
.navbox button:hover a{
    color:white;
}

.login-main{
    width:80%;
    min-height:400px;
    margin:30px auto;
    padding:40px 0px;
    text-align: center;
    background-color: rgb(206, 211, 211);
}
.login-main h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px 0px;
}
.login-main h2{
    margin:20px 0px
}
.login-main p,span{
    margin: 20px 0px;
    font-family: cursive;
    font-size: 18px;
}

/* responsive css  */


@media only screen and (max-width:568px){
    .navbox button{
        padding:10px;
        font-size:14px;
        margin:0px 5px;
    }
    .navbar h1{
        font-size: 1.6rem;
    }
    .navbox h1{
        font-size:1rem;
    } 
    .navbar{
        padding-left:10px;
    }
    .login-main{
        width:95%;
        min-height:400px;
        margin:30px auto;
        padding:40px 0px;
        text-align: center;
        background-color: rgb(206, 211, 211);
    }
    .navbar h1{
        font-size: 1.4rem;
    }
    .login-main h1{
        font-size: 2rem;
    }
    .login-main p,span{
        margin: 20px 0px;
        font-size: 16px;
    }
    
}