*{
    margin:0px;
    padding:0;

}
.navbar{
    height:60px;
    padding:0px 20px;
    background-color: rgb(145, 9, 9);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar button{
    padding:10px 20px;
    font-size:18px;
    margin:0px 10px;
    border:none;
    border-radius: 50px;
    transition:1s;
    cursor: pointer;
}
.navbar button:hover{
    background-color:#000000;
    color:white;
}
.navbar a {
    text-decoration: none;
    color:black;
}
.navbox button:hover a{
    color:white;
}
.register-form{
        width: 80%;
        height: 500px;
        margin:50px auto;
        padding:20px;
}
.register-form form{
    display: flex;
    width:30%;
    margin:auto;
    padding:30px;
    flex-direction: column;
    background-color: rgb(206, 211, 211);
}
.register-form form input{
    height: 40px;
    margin: 20px 0px;
    padding:0px 10px;
    border:none;
    border-radius: 50px;

}
input[type="submit"]{
    background-color: rgb(145, 9, 9);
    color:white;
}


@media only screen and (max-width:768px){
    .register-form{
        min-height:400px;
    }
    .navbox button{
        padding:10px 15px;
        font-size:14px;
        margin:0px 5px;
    }
    .navbar h1{
        font-size: 1.6rem;
    }
    .navbox h1{
        font-size:1rem;
    } 
    .navbar{
        padding-left:10px;
    }
    .register-form{
        width:90%;
        min-height: 500px;
        margin:20px auto;
        padding:10px;
}
.register-form form{
    width:60%;
    padding:30px 20px;
    }

}
@media only screen and (max-width:576px){
     .register-form{
        width:90%;
        min-height: 500px;
        margin:50px auto;
        padding:10px;
}
.register-form form{
    width:80%;
    padding:20px;
    }

}